html {
    background-color: #313030;
    color: white;
    font-family: Eurostile, monospace;
}
.layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
html, body, .layout {
    width: 100%;
    height: 100%;
    margin: 0;
}

.value {
    font-size: 9em;
}
.main .value {
    font-size: 15em;
}
.label {
    color: #b0b0b0;
    font-size: 2em;
}
.unit {
    font-size: 4.8em;
}


#speed {
    grid-column: 1;
    grid-row: 1;
}
#gear {
    grid-column: 2;
    grid-row: 1;
}
#coolantTemp {
    grid-column: 3;
    grid-row: 1;
}
#coolantTemp .unit {
    position: relative;
    top: -0.6em;
}
#rpm {
    grid-column: 2;
    grid-row: 2;
}
#oilPressure {
    grid-column: 3;
    grid-row: 2;
}

.dataDisplay {
    margin: auto;
    text-align: center;
}
.main {
    border: 10px solid white;
    border-radius: 10px;

    width: 19em;
    height: 19em;
}
.label {
    position: relative;
    top: -0.4em;
}
